<div class="login-box">
  <mat-card>
    <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
    <mat-card-header>
      <mat-card-title>Register Yourself</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Username"
                  [(ngModel)]="username"
                  type="email"
                  name="username"
                  required
                  class="form-control"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  [(ngModel)]="password"
                  type="password"
                  name="password"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Name"
                  [(ngModel)]="name"
                  name="name"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  [(ngModel)]="email"
                  name="email"
                  type="email"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Age"
                  [(ngModel)]="age"
                  name="age"
                  required
                  min="0"
                  type="number"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input
                  matInput
                  placeholder="ContactInfo"
                  [(ngModel)]="cinfo"
                  name="cinfo"
                  required
                  maxlength="10"
                  minlength="10"
                  min="0"
                  pattern="^((\\+91-?)|0)?[0-9]{10}$"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="standard">
                <mat-label>Gender</mat-label>
                <mat-select [(ngModel)]="gender" name="gender" required>
                  <mat-option
                    *ngFor="let item of genderList"
                    [value]="item.value"
                  >
                    {{ item.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type = "submit" color="primary">Register</button>
    </mat-card-actions>
  </form>
  </mat-card>
</div>
